<p id="notice"><%= notice %></p>

  <div class="container">
	  
<h1>We're here to support you!</h1>

<table class="table table-hover" class="table table-condensed">
  <thead>
    <img src="hume.png">
	<p>Dr Eric Hume, Orthopedic Surgery</p>
	<img src="face.png">
	<p>Dr Marty Boehnenkamp, Internal Medicine</p>
	<img src="face.png">
	<p>Kristel Dow, Physician Assistant</p>
	<img src="face.png">
	<p>Rachael, Patient Care Coordinator</p>
	<img src="face.png">
	<p>Dana Dangerfield, Social Work</p>
	
	
  </tbody>
</table>

<br>
</div>

<!-- <%= link_to 'Add New User', new_user_path, class:"btn btn-info" %> -->
